# Little Lemon Database Client

In [18]:
# Import MySQL Connector/Python 
import mysql.connector as connector

## Task 1: Connect to Little Lemon database

In [19]:
connection = connector.connect(user = "newuser", password = "4hd86nd710d0gnvyhd71", db = "littlelemondb")

In [20]:
# Create a cursor
cursor = connection.cursor()

## Task 2: Query the database to show all tables within the database

In [21]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
for table in cursor:
    print(table)

('bookings',)
('bookingstatus',)
('customers',)
('customers_150',)
('delivery',)
('menuitems',)
('menuitems_2',)
('menus',)
('orders',)
('ordersview',)
('staff',)

## Task 3: Query table with JOIN

In [23]:
show_customers_query="""
SELECT a.* FROM customers AS a
INNER JOIN orders as b
ON a.CustomerID=b.CustomerID
WHERE b.Cost>60;
"""

cursor.execute(show_customers_query)
results = cursor.fetchall()
for result in results:
    print(result)

(1, 'Vanessa McCarthy', '351258074', 'Vanessa.M@gmail.com')
(2, 'Marcos Romero', '351474048', 'Marcos.R@gmail.com')
(3, 'Anna Iversen', '351970582', 'Anna.I@gmail.com')